*.o
*.pyc
*.cxx
*~
*.h.gch
*.so
/SWIG/*.o
/SWIG/*.pyc
/SWIG/*.cxx
/SWIG/*~
/SWIG/*.h.gch
/SWIG/*.so
/src/*.o
/src/*.pyc
/src/*.cxx
/src/*~
/src/*.h.gch
/src/*.so
/bin/*.o
/bin/*.pyc
/bin/*.cxx
/bin/*~
/bin/*.h.gch
/bin/*.so
