# installation
*.o
*.cxx
*.h.gch
*.so
*.pbs.e*
*.pbs.o*
*/*.o
*/*.cxx
*/*.h.gch
*/*.so
*~
*/*~
*/*.pbs.e*
*/*.pbs.o*
*/*.pyc
build
build/*
pinspec/pinspec.py
pinspec/Geometry_wrap.cpp

# output files
sample-input/infinite
sample-input/infinite/*
sample-input/generational
sample-input/generational/*
sample-input/slowdown
sample-input/slowdown/*
sample-input/doppler
sample-input/doppler/*
sample-input/equivalence
sample-input/equivalence/*
sample-input/outscatter
sample-input/outscatter/*
sample-input/group-to-group
sample-input/group-to-group/*
sample-input/strongscaling
sample-input/strongscaling/*
sample-input/weakscaling
sample-input/weakscaling/*
sample-input/heterogeneous
sample-input/heterogeneous/*
*/*.png
log/*
*/log/*
pinspec-*-.log
*/pinspec-*-.log

# backup xs library
xs-lib/BackupXS
xs-lib/BackupXS/*

# emacs temp files
#*#