# installation
*.o
*.cxx
*.h.gch
*.so
*.pbs.e*
*.pbs.o*
*/*.o
*/*.cxx
*/*.h.gch
*/*.so
*~
*/*~
*/*.pbs.e*
*/*.pbs.o*
*/*.pyc
build
build/*
pinspec/pinspec.py
pinspec/Geometry_wrap.cpp

# output files
sample-input/python-scripts/infinite
sample-input/python-scripts/infinite/*
sample-input/python-scripts/generational
sample-input/python-scripts/generational/*
sample-input/python-scripts/slowdown
sample-input/python-scripts/slowdown/*
sample-input/python-scripts/doppler
sample-input/python-scripts/doppler/*
sample-input/python-scripts/equivalence
sample-input/python-scripts/equivalence/*
sample-input/python-scripts/outscatter
sample-input/python-scripts/outscatter/*
sample-input/python-scripts/group-to-group
sample-input/python-scripts/group-to-group/*
sample-input/python-scripts/heterogeneous
sample-input/python-scripts/heterogeneous/*

sample-input/ipython-notebooks/generational/
sample-input/ipython-notebooks/generational/*
sample-input/ipython-notebooks/infinite/
sample-input/ipython-notebooks/infinite/*
sample-input/ipython-notebooks/slowdown/
sample-input/ipython-notebooks/slowdown/*
sample-input/ipython-notebooks/equivalence/
sample-input/ipython-notebooks/equivalence/*
sample-input/ipython-notebooks/doppler/
sample-input/ipython-notebooks/doppler/*

sample-input/tutorials/0-IPython/
sample-input/tutorials/0-IPython/*
sample-input/tutorials/1-Logging/
sample-input/tutorials/1-Logging/*
sample-input/tutorials/2-Isotopes/
sample-input/tutorials/2-Isotopes/*
sample-input/tutorials/3-Materials/
sample-input/tutorials/3-Materials/*
sample-input/tutorials/4-Regions/
sample-input/tutorials/4-Regions/*
sample-input/tutorials/5-Fissioner/
sample-input/tutorials/5-Fissioner/*
sample-input/tutorials/6-Geometry/
sample-input/tutorials/6-Geometry/*
sample-input/tutorials/7-Tallies/
sample-input/tutorials/7-Tallies/*
sample-input/tutorials/8-Processing/
sample-input/tutorials/8-Processing/*


*/*.png
log/*
*/log/*
pinspec-*-.log
*/pinspec-*-.log

# backup xs library
xs-lib/BackupXS
xs-lib/BackupXS/*

# emacs temp files
#*#